.App {
  /* background-color: blanchedalmond; */
  /* text-align: center; */
  background-image: url('./Assets/Images/Weather.jpg') ;
  background-size: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.row {
  display: flex;
  justify-content: center;
}
